body {
  background-color: #444654;
}

::placeholder {
  color: lightgray !important;
  font-style: italic;
  font-size: medium;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 250ms;
}
